/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* header css kodlar覺 */

body{
	background-color: #F6F6F6;
}

.header-section{
	width: 721px;
	height:169px;
	display:flex;
	flex-direction:row;
	gap:100px;
}


.logo{
	display:flex;
	flex-direction:row;
	width: 148px;
	height: 36px;
	gap:10px;
	margin-top: 50px;
	margin-left:150px;
}

.header-logo{
	width: 35px;
	height:36px;
}

.name{
	display: flex;
	align-items: center;
	font-weight: bold;
	color:#0B132A;
}


.main-nav-bar{
	padding-left: 158px;
	margin-top:58px;
	display: flex;
	gap:40px;

}

.nav-bar-member{
	text-decoration: none;
	color:#4F5665;
}


.login{
	margin-top:45px;
	display: flex;
	flex-direction: row;
	gap:10px;
}
.sing{
	width: 100px;
	height:45px;
}

.sing-in{
	border:none;
	background-color: white;
	cursor: pointer;
}

.sing-up{
	border:1px solid #F53855;
	color:#F53855;
	background-color: white;
	border-radius: 50px;
	cursor:pointer;
}

.under:hover{
text-decoration: underline;
}

/* first section css kodlar覺 */

.first-section{
	display: flex;
	flex-direction: row;
	gap:40px;
}

.first-section-img{
	width: 611px;
	height: 382px;
	margin-right:100px;
}

.first-section-right{
	width: 555px;
	height: 140px;
	line-height: 1.5;
	margin-left: 150px;
	
}

.first-section-title{
	font-size:40px;
	font-weight: bold;
	padding-bottom:20px;
}

.first-section-text{
	padding-bottom:50px;
}

.get-started{
	width: 250px;
	height: 48px;
	border:none;
	border-radius: 10px;
	color:white;
	background-color: #F53838;
	box-shadow:0 20px 20px 0 rgba(245, 56, 56, 0.35);
	cursor: pointer;
}


/* second section kodlar覺 */

.second-section{
	display: flex;
	flex-direction: row;
	width: 1140px;
	height:200px;
	margin-top:103px;
	justify-content: center;
	align-items: center;
	margin-left: 150px;	
	box-shadow: 0 20px 20px 0 rgb(0, 0, 0,0.15);
}

.icon{
	
	width: 24px;
	height:24px;
	

	
}

.icon-bg{
	background-color: #FFECEC;
	border-radius: 50%;
	padding: 15px;
}



.icon-container{
	display: flex;
	flex-direction: row;
	align-items: center;	
    gap:36px;

}

hr{
	height: 125px;
	color:#EEEFF2;
	margin:0 80px;

}


.second-section-text>h1{
    font-weight: 900;
	margin-bottom: 5px;
}


/* third section kodlar覺 */

.third-section{
	display:flex;
	flex-direction: row;
	margin-left:184px;
	
}

.third-section-img{
	width: 508px;
	height:414px;
	margin-right: 169px;
	margin-top:95px;
}

.third-section-text-container{
	width: 383px;
	margin-top:150px;
}

.third-section-title{
font-size:35px;
font-weight: bold;
letter-spacing: 1.5;
line-height: 1.5;
}

.third-section-text{
	margin:20px 0;
	line-height:1.5;
}


.third-section-list{
    display: flex;
	margin-bottom:15px;
}

.third-section-list>img{
display: flex;
margin-right:3px;
align-items: center;
justify-content: center;
}