/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* header css kodları */

.header-section{
	width: 721px;
	height:169px;
	display:flex;
	flex-direction:row;
	gap:100px;
}


.logo{
	display:flex;
	flex-direction:row;
	width: 148px;
	height: 36px;
	gap:10px;
	margin-top: 50px;
	margin-left:150px;
}

.header-logo{
	width: 35px;
	height:36px;
}

.name{
	display: flex;
	align-items: center;
	font-weight: bold;
	color:#0B132A;
}


.main-nav-bar{
	padding-left: 158px;
	margin-top:58px;
	display: flex;
	gap:40px;

}

.nav-bar-member{
	text-decoration: none;
	color:#4F5665;
}


.login{
	margin-top:45px;
	display: flex;
	flex-direction: row;
	gap:10px;
}
.sing{
	width: 100px;
	height:45px;
}

.sing-in{
	border:none;
	cursor: pointer;
	background-color: #ffffff;
}

.sing-up{
	border:1px solid #F53855;
	color:#F53855;
	border-radius: 50px;
	cursor:pointer;
	background-color: #ffffff;
}

.under:hover{
text-decoration: underline;
}

/* first section css kodları */

.first-section{
	display: flex;
	flex-direction: row;
	gap:40px;
}

.first-section-img{
	width: 611px;
	height: 382px;
	margin-right:100px;
}

.first-section-right{
	width: 555px;
	height: 140px;
	line-height: 1.5;
	margin-left: 150px;
	
}

.first-section-title{
	font-size:40px;
	font-weight: bold;
	padding-bottom:20px;
}

.first-section-text{
	padding-bottom:50px;
}

.get-started{
	width: 250px;
	height: 48px;
	border:none;
	border-radius: 10px;
	color:white;
	background-color: #F53838;
	box-shadow:0 20px 20px 0 rgba(245, 56, 56, 0.35);
	cursor: pointer;
}


/* second section kodları */

.second-section{
	display: flex;
	flex-direction: row;
	width: 1140px;
	height:200px;
	margin-top:103px;
	justify-content: center;
	align-items: center;
	margin-left: 150px;	
	box-shadow: 0 20px 20px 0 rgb(0, 0, 0,0.15);
}

.icon{
	
	width: 24px;
	height:24px;
	

	
}

.icon-bg{
	background-color: #FFECEC;
	border-radius: 50%;
	padding: 15px;
}



.icon-container{
	display: flex;
	flex-direction: row;
	align-items: center;	
    gap:36px;

}

hr{
	height: 125px;
	color:#EEEFF2;
	margin:0 80px;

}


.second-section-text>h1{
    font-weight: 900;
	margin-bottom: 5px;
}


/* third section kodları */

.third-section{
	display:flex;
	flex-direction: row;
	margin-left:184px;
	
}

.third-section-img{
	width: 508px;
	height:414px;
	margin-right: 169px;
	margin-top:95px;
}

.third-section-text-container{
	width: 383px;
	margin-top:150px;
}

.third-section-title{
font-size:35px;
font-weight: bold;
letter-spacing: 1.5;
line-height: 1.5;
}

.third-section-text{
	margin:20px 0;
	line-height:1.5;
}


.third-section-list{
    display: flex;
	margin-bottom:15px;
}

.third-section-list>img{
display: flex;
margin-right:3px;
align-items: center;
justify-content: center;
}

/* fourth section kodları */

.fourth-main-title{
	margin-top:80px;
	margin-right:527;
	font-weight: 400px;
	font-size: 35px;
	display: flex;
	justify-content: center;
	margin-bottom:20px;
	
}

.fourth-main-text{
	color:#4F5665;
	font-size:16px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.fourth-box-cards{
	 display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
}


.fourth-box{
	width: 330px;
	height: 760px;
	color:#0B132A;
	border:1px solid #DDDDDD;
	border-radius: 10px;
	margin:30px 50px 0px;
	
}

.fourth-section-one-img,.fourth-section-two-img,.fourth-section-three-img{
	margin:79px 92px 30px;
}

.fourth-box-title{
	font-size: 18px;
	font-weight: 500;
	margin-bottom:24px;
	display: block;
	justify-content: center;
	align-items: center;
	margin-left: 118px;
}

.fourth-main-list{
	margin:0px 69px;
	color:#4F5665;
	width: 190px;
	height: 230px;
}

.fourth-box-list{
	display:flex;
	gap:20px;
	padding-bottom:10px;
}

.fourth-box-bottom-title{
	font-size: 25px;
	padding:0px 118px 61px;
}

.fourth-box-bottom-title>span{
	font-weight: 500;
}

.fourth-box-bottom-button{
	width: 177px;
	height: 45px;
	color:#F53838;
	border:1px solid #F53838;
	border-radius: 50px;
	margin:0px 76px 50px;
	background-color: #ffffff;
}

.fourth-box-bottom-button:hover{
	background-color: #F53838;
	color:#ffffff;
	box-shadow:0px 15px 10px rgba(245, 56, 56, 0.35);
}


.fourth-box-three{
	border-color:#F53838;
}

/* fifth section css kodları */


.fifth-main-box-top{
	margin-top: 150px;
	
}

.fifth-main-box-top-title{
	font-size:35px;
	font-weight:500;
    max-width: 383px;
	height:100px;
	margin-left:527px;
	line-height: 1.5;
}

.fifth-main-box-top-title>span{
	padding-left:60px;
}

.fifth-main-box-top-text{
	margin:20px 443px 155px;
	font-size:16px;
	line-height: 1.5;
}

.fifth-main-box-top-text>span{
	padding-left:210px;
}

.image-map{
	width: 1060px;
	height:537px;
	margin-left:189px;
	margin-bottom:35px;
}

.sponsor-image{
	width: 1135px;
	height:208px;
	display: block;
	justify-content: center;
	margin-left: 145px;
	margin-bottom: 50px;
}


/* sixth section css kodları */

.sixth-section{
	width: 1300px;
	height: 590px;
	
	

}

.sixth-section-top-title{
	width: 447px;
	height: 100px;
	margin-left:496px;
	font-size: 35px;
	letter-spacing: 50;
	line-height: 1.5;
}

.sixth-section-top-title>span{
	padding-left:60px;
}

.sixth-section-top-text{
	width: 555px;
	height: 60px;
	margin-top:20px;
	font-size: 16px;
	letter-spacing: 30;
	margin-left:442px;
	line-height: 1.5;
}

.sixth-section-top-text>span{
	padding-left:100px;
}

.sixth-section-bottom{
	display: block;
	flex-direction:column ;
}


.sixth-section-bottom-box{
	width: 400px;
	height: 230px;
	border:2px solid #DDDDDD;
	border-radius: 10px;
	margin-left: 150px;
	
}


.sixth-section-bottom-box-title{
	width: 110px;
	height:60px;
	display: block;
	flex-direction: column;
}

.sixth-section-bottom-box-top{
	display:flex;
	flex-direction: row;
}

.sixth-section-bottom-box-top>img{
	width: 50px;
	height:50px;
	margin:30px 30px 20px;
}

.sixth-section-bottom-box-title{
	margin-top:36px;
	margin-right:78px;
}

.sixth-section-bottom-box-name{
	font-size:18px;
	width: 142px;
	height:18px;
	margin-bottom: 5px;
	color:#0B132A;
}

